.headerCorses {
  width: 100%;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  .menu {
    width: 27%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 140px;
    background: rgba(255, 207, 35, 0.1);
    .d-flex {
      justify-content: center;
      align-items: flex-start;
      h6 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 10px;
        letter-spacing: 0.025em;
        padding: 0 6px ;
        color: #7f7f7f;
        padding-bottom: 10px;
        border-bottom: 1px solid #7f7f7f;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
          color: $colorOrange;
        }
      }
      .active {
        color: #000;
        border-bottom: 2px solid #ffcf23;
      }
    }
  }
  .links {
    width: 70%;
    position: absolute;
    top: 140px;
    right: 12px;
    .row {
      .col-xl-3 {
        h6 {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 10px;
          letter-spacing: 0.025em;
          margin-bottom: 30px;
          color: #000000;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            margin-bottom: 15px;
            a {
              font-weight: 500;
              font-size: 16px;
              line-height: 10px;
              letter-spacing: 0.025em;
              color: #000000;
              text-decoration: none;
              transition: all .2s ease;
              &:hover {
                color: $colorOrange;
              }
            }
          }
        }
      }
    }
  }
}
